{% extends "_base.html" %}

{% set title = "Red6-'s Projects" %}
{% set description = "A list of projects I have made or contributed to." %}
{% set url = "https://red60.us/projects/" %}

{% block content %}
  <h1>My Projects:</h1>
  <ul>
    <li><a href="https://github.com/Red60sapphire/doom-in-pdf">doom-in-pdf</a> - A port of Doom (1993) that runs inside a PDF file.</li>
    <li><a href="https://github.com/Red60sapphire/juggmylittlemovies">juggmylittlemovies</a> - Public hosting/deployment mirror of JuggMyLittleMovies.  </li> 
  </ul>
{% endblock %}
